#top-bar__button {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-transform: uppercase;

  padding: 10px 13px 10px 13px;
  border-radius: 10px;

  background-color: $primary;
  color: $secondary;
  box-shadow: none;

}