// Colors
$primary: rgba(25, 118, 210, 1);
$secondary: rgba(255, 255, 255, 1);
$danger: #dc3545;

// Background colors
$bg-primary: $secondary;


// Text colors
$text-primary: rgba(0, 0, 0, 1);
$text-secondary: rgba(0, 0, 0, 0.87);
$text-third: rgba(0, 0, 0, 0.6);
$text-info: rgba(38, 50, 56, 1); //back link color
$text-danger: $danger;