<div class="form-wrapper mat-elevation-z2">
  <img src="../../../assets/W-AYS Logo.png" alt="W-AYS Logo" class="logo" />
  <ng-container *ngIf="!isPreview">
    <form class="form" [formGroup]="form" (submit)="onSubmit()">
      <div class="form__address-block">
        <mat-form-field
          appearance="outline"
          class="form__address-block-field"
          hideRequiredMarker
        >
          <mat-label>Sender address</mat-label>
          <input matInput type="text" formControlName="senderAddress" />
          <mat-error
            class="form__address-block-error"
            *ngIf="
              form.get('senderAddress').hasError('required') &&
              form.get('senderAddress').touched
            "
          >
            Sender address is required.
          </mat-error>
          <mat-error
            class="form__address-block-error"
            *ngIf="form.get('senderAddress').hasError('maxlength')"
            >Maximum length of 100 symbols exceeded.</mat-error
          >
        </mat-form-field>
        <div class="form__control-wrapper">
          <app-letter-form-control
            formControlName="receiverAddress"
            placeholder="Receiver address"
          />
          <app-letter-form-control
            formControlName="blockA"
            placeholder="Block A"
          />
        </div>
      </div>
      <div class="form__body-block">
        <mat-form-field appearance="outline" class="form__body-block-field">
          <mat-label>Subject (optional)</mat-label>
          <input matInput type="text" formControlName="subject" />
          <mat-error
            class="form__body-block-error"
            *ngIf="form.get('subject').hasError('maxlength')"
          >
            Maximum length of 100 symbols exceeded.</mat-error
          >
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          class="form__body-block-field"
          hideRequiredMarker
        >
          <mat-label>Body</mat-label>
          <textarea
            class="form__body-block-textarea"
            matInput
            type="text"
            formControlName="body"
            rows="1"
            cdkTextareaAutosize
          ></textarea>
          <mat-error
            class="form__body-block-error"
            *ngIf="
              form.get('body').hasError('required') && form.get('body').touched
            "
          >
            Letter body is required.
          </mat-error>
          <mat-error
            class="form__body-block-error"
            *ngIf="form.get('body').hasError('maxlength')"
            >Maximum length of 1000 symbols exceeded.</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline" class="form__body-block-field">
          <mat-label>Footnote (optional)</mat-label>
          <input matInput type="text" formControlName="footNote" />
          <mat-error
            class="form__body-block-error"
            *ngIf="form.get('footNote').hasError('maxlength')"
            >Maximum length of 100 symbols exceeded.</mat-error
          >
        </mat-form-field>
      </div>
    </form>
  </ng-container>
  <ng-container *ngIf="isPreview">
    <app-letter-preview [letter]="buildLetter()" />
  </ng-container>
</div>
