.form-wrapper {
    width: 81%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 61px;
}

.form {
    padding-left: 63px;
    padding-right: 64px;
    padding: 28px 63px 61px 61px;
}

.logo {
    display: flex;
    margin-left: auto;
    padding-right: 80px;
}

.form__address-block {
    width: 64%;
    margin-bottom: 81px;
}

.form__address-block-field,
.form__body-block-field {
    width: 100%;
}


.form__control-wrapper {
    app-letter-form-control:first-child {
        display: block;
        margin-bottom: 16px;
    }
}

.form__body-block-field:not(:last-child) {
    margin-bottom: 9px;
}


.form__body-block-textarea {
    height: auto;
}


::ng-deep .form__address-block .mat-mdc-form-field-subscript-wrapper {
    height: 18px;
}

::ng-deep .form__body-block .mat-mdc-form-field-subscript-wrapper {
    height: 17px;
}