<div class="dialog">
  <!-- TOP BAR //////////////////////////////////////////////////////////// -->
  <div class="tob-bar">
    <h1 class="top-bar__title">Edit {{ title.toLowerCase() }}</h1>
    <button
      class="top-bar__btn"
      mat-icon-button
      (click)="onClose()"
      aria-label="close button"
    >
      <mat-icon style="color: black">close</mat-icon>
    </button>
  </div>
  <!-- FORM////////////////////////////////////////////////////////////////////// -->
  <form [formGroup]="form" class="form">
    <ng-container
      *ngFor="let value of form.controls.values.controls; let i = index"
    >
      <div class="form__input-wrapper">
        <mat-form-field
          appearance="outline"
          class="form__input"
          [hideRequiredMarker]
        >
          <mat-label>Line {{ i + 1 }}</mat-label>
          <input matInput type="text" [formControl]="value" autofocus />
          <mat-error class="form__error" *ngIf="value.hasError('required')"
            >This field is required.</mat-error
          >
          <mat-error class="form__error" *ngIf="value.hasError('maxlength')"
            >Maximum length of 40 symbols exceeded.</mat-error
          >
        </mat-form-field>
        <button
          mat-icon-button
          color="accent"
          (click)="removeLine(i)"
          aria-label="close button"
        >
          <img src="../../../assets/delete_24px.svg" alt="" />
        </button>
      </div>
    </ng-container>
  </form>
  <button mat-button color="primary" (click)="addLine()">
    <div><mat-icon class="mat-24">add</mat-icon></div>
    ADD LINE
  </button>
  <!-- PREVIEW/////////////////////////////////////////////////////////// -->
  <div class="preview">
    <mat-divider class="preview__top-divider"></mat-divider>
    <span class="preview__title">Preview</span>
    <ng-container *ngFor="let value of form.value.values">
      <div class="preview__item">
        {{ value }}
      </div>
    </ng-container>
    <mat-divider class="preview__bottom-divider"></mat-divider>
  </div>
  <!-- ACTIONS//////////////////////////////////////////////////////////////////////// -->
  <div class="actions">
    <button mat-button color="primary" (click)="onClose()">CANCEL</button>
    <button
      mat-raised-button
      id="top-bar__button"
      color="primary"
      cdkFocusInitial
      (click)="onApply()"
    >
      apply
    </button>
  </div>
</div>
