@import "src/styles/abstracts/_variables.scss";
@import "src/styles/abstracts/_mixins.scss";

.letters {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.letter-card {
    width: 258px;
    height: 128px;
    padding: 5px 8px 16px 16px;

    cursor: pointer;
}

.letter-card__title-wrapper {
    @include flex;
}

.letter-card__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;

    margin-bottom: 2px;
}

.letter-card__delete-btn {
    color: $danger;
}


.letter-card__receiver,
.letter-card__subject {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.letter-card__receiver {
    line-height: 20px;
    letter-spacing: 0.25px;

    color: rgba(0, 0, 0, 0.87);

    margin-bottom: 14px;

}


.letter-card__subject {
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;

    color: rgba(0, 0, 0, 0.6);
}