@import 'normalize.css/normalize.css';

*,
::before,
::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

a {
    display: block;
    text-decoration: none;
}

p,
span {
    word-wrap: break-word;
    max-width: 100%;
}